@mixin status {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    border-radius: 50%;
    display: inline-flex;
}

.status-alive {
    @include status;
    background-color: greenyellow;
}

.status-dead {
    @include status;
    background-color: black;
}

.status-unknown {
    @include status;
    background-color: grey;
}
